In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [22]:
df_test = pd.read_csv('test.csv')
print(df_test.shape)
df_test.head()

(1459, 80)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [23]:
df_train = pd.read_csv('train.csv')
print(df_train.shape)
df_train.head()

(1460, 81)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [24]:
df = pd.read_csv('dataset.csv')
print(df.shape)
df.head()

(2919, 81)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0

In [25]:
continuous_variables = list(df_train.describe().keys())
continuous_variables.remove('OverallQual')
continuous_variables.remove('OverallCond')
continuous_variables.remove('Id')
##removing the response from predictors list
continuous_variables.remove('SalePrice')

In [26]:
categorical_variables = list(set(df_train.columns)-set(continuous_variables))
categorical_variables.remove('Id')
categorical_variables.remove('SalePrice')

In [27]:
print('categorical_variables\t', len(categorical_variables), '\continuous_variables\t', len(continuous_variables))

categorical_variables	 45 \continuous_variables	 34

In [28]:
missing_percent = 0
variables_to_delete = []

In [29]:
categorical_missing_variables = []
for cat in categorical_variables:
    if df[cat].isnull().sum() > 0:
        missing_percent = round(df[cat].isnull().sum()/df.shape[0], 4)*100
        categorical_missing_variables.append(cat)
        print(cat+'\t\t', str(df[cat].isnull().sum())+'\t', missing_percent)
        if missing_percent > 45:
            variables_to_delete.append(cat)

Electrical		 1	 0.03
MSZoning		 4	 0.13999999999999999
GarageCond		 159	 5.45
BsmtExposure		 82	 2.81
PoolQC		 2909	 99.66000000000001
BsmtFinType2		 80	 2.74
Alley		 2721	 93.22
MiscFeature		 2814	 96.39999999999999
Functional		 2	 0.06999999999999999
Exterior2nd		 1	 0.03
SaleType		 1	 0.03
BsmtQual		 81	 2.77
GarageQual		 159	 5.45
Utilities		 2	 0.06999999999999999
FireplaceQu		 1420	 48.65
GarageType		 157	 5.38
KitchenQual		 1	 0.03
MasVnrType		 24	 0.8200000000000001
BsmtCond		 82	 2.81
Fence		 2348	 80.44
BsmtFinType1		 79	 2.71
GarageFinish		 159	 5.45
Exterior1st		 1	 0.03

In [30]:
continuous_missing_variables = []
for cat in continuous_variables:
    if df[cat].isnull().sum() > 0:
        missing_percent = round(df[cat].isnull().sum()/df.shape[0], 4)*100
        continuous_missing_variables.append(cat)
        print(cat+'\t\t', str(df[cat].isnull().sum())+'\t', missing_percent)
        if missing_percent > 45:
            variables_to_delete.append(cat)

LotFrontage		 486	 16.650000000000002
MasVnrArea		 23	 0.79
BsmtFinSF1		 1	 0.03
BsmtFinSF2		 1	 0.03
BsmtUnfSF		 1	 0.03
TotalBsmtSF		 1	 0.03
BsmtFullBath		 2	 0.06999999999999999
BsmtHalfBath		 2	 0.06999999999999999
GarageYrBlt		 159	 5.45
GarageCars		 1	 0.03
GarageArea		 1	 0.03

In [31]:
print(variables_to_delete)
df.drop(labels = variables_to_delete, axis = 1, inplace = True)
df.drop(labels = ['Id'], axis = 1, inplace = True)
categorical_variables = list(set(categorical_variables) - set(variables_to_delete))
categorical_missing_variables = list(set(categorical_missing_variables) - set(variables_to_delete))
continuous_variables = list(set(continuous_variables) - set(variables_to_delete))
continuous_missing_variables = list(set(continuous_missing_variables) - set(variables_to_delete))

['PoolQC', 'Alley', 'MiscFeature', 'FireplaceQu', 'Fence']

In [32]:
df.shape

(2919, 75)

In [33]:
continuous_missing_variables

['MasVnrArea',
 'GarageArea',
 'BsmtFinSF1',
 'BsmtFinSF2',
 'BsmtHalfBath',
 'GarageYrBlt',
 'LotFrontage',
 'TotalBsmtSF',
 'GarageCars',
 'BsmtUnfSF',
 'BsmtFullBath']

In [34]:
df[continuous_missing_variables].describe()

,MasVnrArea,GarageArea,BsmtFinSF1,BsmtFinSF2,BsmtHalfBath,GarageYrBlt,LotFrontage,TotalBsmtSF,GarageCars,BsmtUnfSF,BsmtFullBath
count,2896.000000,2918.000000,2918.000000,2918.000000,2917.000000,2760.000000,2433.000000,2918.000000,2918.000000,2918.000000,2917.000000
mean,102.201312,472.874572,441.423235,49.582248,0.061364,1978.113406,69.305795,1051.777587,1.766621,560.772104,0.429894
std,179.334253,215.394815,455.610826,169.205611,0.245687,25.574285,23.344905,440.766258,0.761624,439.543659,0.524736
min,0.000000,0.000000,0.000000,0.000000,0.000000,1895.000000,21.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,320.000000,0.000000,0.000000,0.000000,1960.000000,59.000000,793.000000,1.000000,220.000000,0.000000
50%,0.000000,480.000000,368.500000,0.000000,0.000000,1979.000000,68.000000,989.500000,2.000000,467.000000,0.000000
75%,164.000000,576.000000,733.000000,0.000000,0.000000,2002.000000,80.000000,1302.000000,2.000000,805.500000,1.000000
max,1600.000000,1488.000000,5644.000000,1526.000000,2.000000,2207.000000,313.000000,6110.000000,5.000000,2336.000000,3.000000

In [35]:
from statistics import mode

In [36]:
imputed_value = 0
for cat in continuous_missing_variables.copy():
    missing_percent = round(df[cat].isnull().sum()/df.shape[0], 4)*100
    if missing_percent <= 2:
        continuous_missing_variables.remove(cat)
        if np.mean(df[cat]) > 10:
            imputed_value = np.mean(df[cat])
        else:
            imputed_value = mode(df[cat])
        df[cat].fillna(imputed_value, inplace = True)
        #print(cat+'\t', str(imputed_value)+'\t', missing_percent)

In [19]:
from sklearn.linear_model import LinearRegression
linear_reg = LinearRegression()

In [38]:
for cat in continuous_missing_variables.copy():
    y = cat
    x = list(set(continuous_variables) - set(continuous_missing_variables))
    continuous_missing_variables.remove(cat)
    train = df[df[y].notnull()]
    test = df[df[y].isnull()]
    x_train, x_test, y_train, y_test = train[x], test[x], train[y], test[y]
    linear_reg.fit(x_train, y_train)
    df.loc[df[y].isnull(),[y]] = linear_reg.predict(x_test)
    #print(y)
    #print(x)
    #print('\n')

In [39]:
df[continuous_variables].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Data columns (total 34 columns):
TotRmsAbvGrd     2919 non-null int64
WoodDeckSF       2919 non-null int64
EnclosedPorch    2919 non-null int64
BsmtFinSF2       2919 non-null float64
BedroomAbvGr     2919 non-null int64
ScreenPorch      2919 non-null int64
GarageYrBlt      2919 non-null float64
YearBuilt        2919 non-null int64
LotArea          2919 non-null int64
MSSubClass       2919 non-null int64
MiscVal          2919 non-null int64
OpenPorchSF      2919 non-null int64
GarageArea       2919 non-null float64
BsmtHalfBath     2919 non-null float64
PoolArea         2919 non-null int64
TotalBsmtSF      2919 non-null float64
MoSold           2919 non-null int64
LowQualFinSF     2919 non-null int64
GarageCars       2919 non-null float64
3SsnPorch        2919 non-null int64
MasVnrArea       2919 non-null float64
FullBath         2919 non-null int64
HalfBath         2919 non-null int64
BsmtFinSF1       2919 non-null float64
KitchenAbvGr     2919 non-null int64
BsmtUnfSF        2919 non-null float64
1stFlrSF         2919 non-null int64
2ndFlrSF         2919 non-null int64
YrSold           2919 non-null int64
LotFrontage      2919 non-null float64
YearRemodAdd     2919 non-null int64
GrLivArea        2919 non-null int64
Fireplaces       2919 non-null int64
BsmtFullBath     2919 non-null float64
dtypes: float64(11), int64(23)
memory usage: 775.4 KB

In [40]:
categorical_missing_variables

['Utilities',
 'Electrical',
 'BsmtExposure',
 'BsmtFinType2',
 'BsmtCond',
 'Exterior1st',
 'MSZoning',
 'GarageType',
 'Functional',
 'Exterior2nd',
 'KitchenQual',
 'GarageCond',
 'SaleType',
 'BsmtQual',
 'MasVnrType',
 'GarageQual',
 'BsmtFinType1',
 'GarageFinish']

In [41]:
imputed_value = 0
for cat in categorical_missing_variables.copy():
    missing_percent = round(df[cat].isnull().sum()/df.shape[0], 4)*100
    if missing_percent <= 2:
        categorical_missing_variables.remove(cat)
        imputed_value = mode(df[cat])
        df[cat].fillna(imputed_value, inplace = True)
        #print(cat+'\t', str(imputed_value)+'\t', missing_percent)

In [42]:
categorical_non_missing_variables = list(set(categorical_variables)-set(categorical_missing_variables))

In [43]:
import category_encoders as en
bin_encoding = en.BinaryEncoder()
df_category = bin_encoding.fit_transform(df[categorical_non_missing_variables])
df_full = pd.concat([df[continuous_variables], df_category], axis = 1)

In [44]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 50, n_jobs = -1)

In [45]:
for cat in categorical_missing_variables.copy():
    y = cat
    x = df_full.columns
    categorical_missing_variables.remove(cat)
    temp = pd.concat([df_full, df[y]], axis = 1)
    train = temp[temp[y].notnull()]
    test = temp[temp[y].isnull()]
    x_train, x_test, y_train, y_test = train[x], test[x], train[y], test[y]
    knn.fit(x_train, y_train)
    df.loc[df[y].isnull(),[y]] = knn.predict(x_test)
    bin_encoding = en.BinaryEncoder()
    df_category = bin_encoding.fit_transform(df[y])
    df_full = pd.concat([df_full, df_category], axis = 1)
    #print(y)
    #print(x)
    #print('\n')

In [55]:
predict_response_cleaned = pd.concat([df_full, df_train.SalePrice], axis = 1)

In [57]:
predict_response_cleaned.to_csv(path_or_buf='C:\\MyDrive\\MyStuff\\DataScience\\Data_Science_Projects\\kaggle_house_price_regression\\predict_response_cleaned1.csv')

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Data columns (total 75 columns):
MSSubClass       2919 non-null int64
MSZoning         2919 non-null object
LotFrontage      2919 non-null float64
LotArea          2919 non-null int64
Street           2919 non-null object
LotShape         2919 non-null object
LandContour      2919 non-null object
Utilities        2919 non-null object
LotConfig        2919 non-null object
LandSlope        2919 non-null object
Neighborhood     2919 non-null object
Condition1       2919 non-null object
Condition2       2919 non-null object
BldgType         2919 non-null object
HouseStyle       2919 non-null object
OverallQual      2919 non-null int64
OverallCond      2919 non-null int64
YearBuilt        2919 non-null int64
YearRemodAdd     2919 non-null int64
RoofStyle        2919 non-null object
RoofMatl         2919 non-null object
Exterior1st      2919 non-null object
Exterior2nd      2919 non-null object
MasVnrType       2919 non-null object
MasVnrArea       2919 non-null float64
ExterQual        2919 non-null object
ExterCond        2919 non-null object
Foundation       2919 non-null object
BsmtQual         2919 non-null object
BsmtCond         2919 non-null object
BsmtExposure     2919 non-null object
BsmtFinType1     2919 non-null object
BsmtFinSF1       2919 non-null float64
BsmtFinType2     2919 non-null object
BsmtFinSF2       2919 non-null float64
BsmtUnfSF        2919 non-null float64
TotalBsmtSF      2919 non-null float64
Heating          2919 non-null object
HeatingQC        2919 non-null object
CentralAir       2919 non-null object
Electrical       2919 non-null object
1stFlrSF         2919 non-null int64
2ndFlrSF         2919 non-null int64
LowQualFinSF     2919 non-null int64
GrLivArea        2919 non-null int64
BsmtFullBath     2919 non-null float64
BsmtHalfBath     2919 non-null float64
FullBath         2919 non-null int64
HalfBath         2919 non-null int64
BedroomAbvGr     2919 non-null int64
KitchenAbvGr     2919 non-null int64
KitchenQual      2919 non-null object
TotRmsAbvGrd     2919 non-null int64
Functional       2919 non-null object
Fireplaces       2919 non-null int64
GarageType       2919 non-null object
GarageYrBlt      2919 non-null float64
GarageFinish     2919 non-null object
GarageCars       2919 non-null float64
GarageArea       2919 non-null float64
GarageQual       2919 non-null object
GarageCond       2919 non-null object
PavedDrive       2919 non-null object
WoodDeckSF       2919 non-null int64
OpenPorchSF      2919 non-null int64
EnclosedPorch    2919 non-null int64
3SsnPorch        2919 non-null int64
ScreenPorch      2919 non-null int64
PoolArea         2919 non-null int64
MiscVal          2919 non-null int64
MoSold           2919 non-null int64
YrSold           2919 non-null int64
SaleType         2919 non-null object
SaleCondition    2919 non-null object
SalePrice        1460 non-null float64
dtypes: float64(12), int64(25), object(38)
memory usage: 1.7+ MB

In [61]:
df.to_csv(path_or_buf='C:\\MyDrive\\MyStuff\\DataScience\\Data_Science_Projects\\kaggle_house_price_regression\\filled_train_test_dataset.csv')

In [63]:
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500.0
1,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500.0
2,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500.0
3,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000.0
4,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000.0